html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
    text-decoration: none;
    border: none;
    font-size: 1.2rem;
    padding: 20px;
}
#book-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 50px;
    margin: 50px;
    border: 2px solid black;
    grid-auto-rows: auto;
}

.card-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    background-color: antiquewhite;
    padding: 20px;
}
.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#open-button:hover {
    background-color: antiquewhite;
}
ul {
    list-style-type: none;
}
li {
    margin: 0;
    padding: 0;
}